:host {
    padding: 0 16px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.gisela-table {
    /* adjust width to container */

    width: 100%;

    td {
        font-size: 14px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* just fooling around, table component should implement an already styled one */
    thead tr th {
        border-bottom: 1px solid #ccc;
    }
    tfoot tr td {
        border-top: 1px solid #ccc;
    }

    .td-right {
        text-align: right;
    }

    .td-slim {
        padding-right: 5px;
    }

    .td-center {
        text-align: center;
    }
}

.container {
    margin-bottom: 20px;
}
