<div class="container">
    <div class="row justify-content-md-center">
        <h3>Meine Reiseliste</h3>
        <table class="gisela-table" [mfData]="coordinates" #mf="mfDataTable" [mfRowsOnPage]="20">
            <thead>
            <tr>
                <th class="hidden-sm-down"><datatable-sorter initial="desc" by="start">Reisestart</datatable-sorter></th>
                <th class="hidden-sm-down"><mfDefaultSorter by="end">Reiseende</mfDefaultSorter></th>
                <th class="hidden-md-up td-slim"><datatable-sorter initial="desc" by="start">Zeitraum</datatable-sorter></th>
                <th><mfDefaultSorter by="location.name">Reiseziel</mfDefaultSorter></th>
                <th class="td-right"><mfDefaultSorter by="location.distanceFromHome">Entfernung</mfDefaultSorter></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coordinate of mf.data">
                <td class="hidden-sm-down" [ngClass]="isAfterNow(coordinate.start)">{{ coordinate.start | date: 'yyyy-MM-dd' }}</td>
                <td class="hidden-sm-down" [ngClass]="isAfterNow(coordinate.start)">{{ coordinate.end | date: 'yyyy-MM-dd' }}</td>
                <td class="hidden-md-up td-slim" [ngClass]="isAfterNow(coordinate.start)">{{ coordinate.start | date: 'yyyy-MM-dd' |  amDateFormat:'YYYY/MM' }}</td>
                <td [ngClass]="isAfterNow(coordinate.start)">{{ coordinate.location.name }}</td>
                <td class="td-right" [ngClass]="isAfterNow(coordinate.start)">{{ coordinate.location.distanceFromHome }} km</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="td-center">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
        <div class="alert alert-success">Insgesamt bin ich <strong>{{ totalDistanceTraveled }} km</strong> gereist.</div>
    </div>
</div>

