<hr/>
<div class="container">
    <div class="row justify-content-md-center row-center" style="font-size: 10px">
        <div class="row-divider">
            <a href="https://www.facebook.com/giselakrabbe/">facebook</a>
            <span>|</span>
            <a href="">instagram</a>
            <span>|</span>
            <a href="">twitter</a>
        </div>
        <div>
            <span>mail.</span>
            Gisela die Wanderkrabbe
            <span>|</span>
            Postfach 10 13 29
            <span>|</span>
            45013 Essen
        </div>
    </div>
</div>
