$hamburgers-padding-x: 0;
$hamburgers-padding-y: 0;
$hamburger-layer-width                     : 16px;
$hamburger-layer-height                    : 1px;
$hamburger-layer-spacing                   : 4px;
//$hamburger-types     : (spring);
$hamburger-layer-color                     : #fff;
