:host {
    min-height: 300px;
    display: flex;
    background-image: url('../../../assets/img/gisela-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
